<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>
        <%= title %>
    </title>
</head>
<body>
<div>
    <label>사용자 목록</label>
</div>
<table>
    <thead>
    <tr>
        <th>nickname</th>
        <th>sns_id</th>
        <th>name</th>
        <th>birth_date</th>
        <th>gender</th>
        <th>introduce</th>
        <th>profile_image</th>
        <th>grade</th>
        <th>프로필 수정</th>
    </tr>
    </thead>
    <tbody>
    <% for(let User of UserList) { %>
        <tr>
            <td><%= User.nickname %></td>
            <td><%= User.sns_id %></td>
            <td><%= User.name %></td>
            <% if(User.birth_date){ %>
                <td><%= User.birth_date.toISOString().replace(/T/, ' ').replace(/\..+/, '').slice(0, 10) %></td>
            <% }else{ %>
                <td><%= User.birth_date%></td>
            <% } %>
            <% if(User.gender){ %>
                <td>남자</td>
            <% }else{ %>
                <td>여자</td>
            <% } %>
            <td><%= User.introduce %></td>
            <%if(User.profile_image){%>
                <td><img id="img-preview" src=<%= User.profile_image %>  width="75" alt="미리보기"></td>
            <%}else{%>
                <td><img id="img-preview" style="display: none;" src=<%= User.profile_image %>  width="75" alt="미리보기"></td>
            <%}%>
            <td><%= User.grade %></td>
            <td><a href="/admin/<%= User.nickname %>/edit">수정</a></td>
        </tr>
    <% } %>
    </tbody>
</table>
<div>
    <label>게시판 목록</label>
    <a href="/admin/board_create">게시판 생성</a>
</div>
<table>
    <thead>
    <tr>
        <th>name</th>
        <th>min_read_grade</th>
        <th>min_write_grade</th>
        <th>board_type</th>
        <th>게시판 수정</th>
        <th>게시판 삭제</th>
    </tr>
    </thead>
    <tbody>
    <% for(let list_of_board of BoardList) { %>
        <tr>
            <td><%= list_of_board.dataValues.name %></td>
            <td><%= list_of_board.dataValues.min_read_grade %></td>
            <td><%= list_of_board.dataValues.min_write_grade %></td>
            <td><%= list_of_board.dataValues.board_type %></td>
            <td><a href="/admin/<%= list_of_board.dataValues.id %>/board_edit">수정</a></td>
            <td><a href="/admin/<%= list_of_board.dataValues.id %>/board_delete">삭제</a></td>
        </tr>
    <% } %>
    </tbody>
</table>
</body>
</html>