<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
</head>
<body>
<div id="edit">
    <form id="edit-form" action="/admin/<%= FindUser.nickname %>/edit" method="post">
        <div>
            <label for="nickname">닉네임</label>
            <input id="nickname" name="nickname" type="text" maxlength="15" required value=<%=FindUser.nickname%>>
        </div>
        <div>
            <label for="grade">grade</label>
            <select name="grade">
            <% for(let list_of_grade of GradeList) { %>
                <% if(FindUser.grade==list_of_grade.dataValues.id){ %>
                        <option value=<%=list_of_grade.dataValues.id%> selected="selected"><%=list_of_grade.dataValues.name%></option>
                <% }else{ %>
                        <option value=<%=list_of_grade.dataValues.id%>><%=list_of_grade.dataValues.name%></option>
                <% } %>
            <% } %>
            </select>
        </div>
        <button id="edit_button" type="submit">수정</button>
    </form>
</div>
</body>
</html>