<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
</head>
<body>
<div id="edit">
    <form id="edit-form" action="/admin/<%= FindBoard.id %>/board_edit" method="post">
        <div>
            <label for="name">게시판 이름</label>
            <input id="name" name="name" type="text" maxlength="15" required value=<%= FindBoard.name %>>
        </div>
        <div>
            <label for="min_read_grade">min_read_grade</label>
            <select name="min_read_grade">
                <% for(let list_of_grade of GradeList) { %>
                    <% if(FindBoard.min_read_grade==list_of_grade.dataValues.id){ %>
                    <option value=<%=list_of_grade.dataValues.id%> selected="selected"><%=list_of_grade.dataValues.name%></option>
                    <% }else{ %>
                    <option value=<%=list_of_grade.dataValues.id%>><%=list_of_grade.dataValues.name%></option>
                    <% } %>
                <% } %>
            </select>
            <label for="min_write_grade">min_write_grade</label>
            <select name="min_write_grade">
                <% for(let list_of_grade of GradeList) { %>
                    <% if(FindBoard.min_write_grade==list_of_grade.dataValues.id){ %>
                    <option value=<%=list_of_grade.dataValues.id%> selected="selected"><%=list_of_grade.dataValues.name%></option>
                    <% }else{ %>
                    <option value=<%=list_of_grade.dataValues.id%>><%=list_of_grade.dataValues.name%></option>
                    <% } %>
                <% } %>
            </select>
        </div>
        <div>
            <label for="board_type">board_type</label>
            <input id="board_type" name="board_type" type="text" maxlength="15" required value=<%= FindBoard.board_type %>>
        </div>
        <button id="edit_button" type="submit">수정</button>
    </form>
</div>
</body>
</html>