<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title><%= post.title %> 선택</title>
</head>
<body>
<div>
    <ul>
        <li>
            <span>체크</span>
            <span>닉네임</span>
        </li>
    </ul>
</div>

<form action="/post/<%= post.id %>/apply/select" method="post">
    <div>
        <ol>
            <% for(var applicant of applicants) { %>
                <li>
                <span>
                    <input type="checkbox" id="check" name="check" value="<%= applicant.id %>" <% if(applicant.is_accepted === true) { %> checked
                    <% } %>>
                </span>
                    <span><a href="/profile/<%= applicant.User.nickname %>"><%= applicant.User.nickname %></a></span>
                    <details>
                        <summary>지원 내용</summary>
                        <span><%= applicant.message %></span>
                    </details>
                </li>
            <% } %>
        </ol>
    </div>
    <div>
        <input type="submit" value="선택">
    </div>
</form>
</body>
</html>