<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title><%= post.title %> 선택</title>
</head>
<body>
<div>
    <ul>
        <li>
            <span>닉네임</span>
        </li>
    </ul>
</div>

    <div>
        <ol>
            <% for(var applicant of applicants) { %>
                <li>
                    <span><%= applicant.User.nickname%></span>
                    <details>
                        <summary>지원 내용</summary>
                        <span><%= applicant.message %></span>
                    </details>
                </li>
            <% } %>
        </ol>
    </div>
    <div>
        <a href="#" id="confirm">확정</a>
    </div>
</body>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    const applicants = <%- JSON.stringify(applicants) %>
    const applicants_id = [];
    const confirm_tag = document.querySelector('#confirm');
    confirm_tag.addEventListener('click', async function(event) {
       event.preventDefault();
       for(let applicant of applicants)
       {
           applicants_id.push(applicant.id);
       }
       await axios.post(`/post/<%= post.id%>/apply/complete`,{
           applicant_id: applicants_id
       })
        .then((response) => {
            if(response.data === 'success') {
                alert("확정되었습니다.");
                location.replace(`/post/<%= post.id %>?board_id=<%= post.board_id%>`);
            }
        })
       .catch((err) => {
           console.error(err);
       });
    });
</script>
</html>