<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>
        <%= title %>
    </title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>번호</th>
        <th>제목</th>
        <th>작성자</th>
        <th>작성일</th>
        <th>조회수</th>
    </tr>
    </thead>
    <tbody>
    <% for(var post of posts) { %>
        <% console.log(post);%>
        <tr>
            <td><%= post.id %></td>
            <td><%= post.title %></td>
            <td><%= post.nickname %></td>
            <td><%= post.created_at %></td>
            <td><%= post.view_count %></td>
        </tr>
    <% } %>
    </tbody>
</table>
</body>
</html>