<style>
    .btn-info, .btn-info:hover, .btn-info:active, .btn-info:visited {
        background-color: rgba(207, 226, 255, 1.0);
    }

    .btn-outline-info:hover {
        background-color: rgba(207, 226, 255, 1.0);
    }
</style>
<div class="d-none d-sm-block">
    <div class="d-flex justify-content-between mx-3 my-3">
        <form class="d-flex">
            <% if(board.board_type === 'general') { %>
                <a class="btn btn-outline-primary me-2" href="#" id="sort_by_created_at">최신순</a>
                <a class="btn btn-outline-primary me-2" href="#" id="sort_by_like">추천순</a>
            <% } else if(board.board_type === 'recruitment') { %>
                <a class="btn btn-outline-primary me-2" href="#" id="sort_by_created_at">최신순</a>
                <a class="btn btn-outline-primary me-2" href="#" id="sort_by_deadline">마감기한순</a>
                <a class="btn btn-outline-primary me-2" href="#" id="sort_by_after_deadline">마감기한 종료</a>
            <% } %>
        </form>
        <form class="d-flex">
            <input class="form-control me-2" type="search" name="keyword" id="keyword" placeholder="검색어를 입력해주세요"
                   aria-label="Search" required>
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>
</div>
<div class="d-sm-none">
    <div class="d-flex flex-column mx-3">
        <form class="d-flex my-3">
            <% if(board.board_type === 'general') { %>
                <a class="btn btn-outline-primary me-2" href="#" id="sort_by_created_at">최신순</a>
                <a class="btn btn-outline-primary me-2" href="#" id="sort_by_like">추천순</a>
            <% } else if(board.board_type === 'recruitment') { %>
                <a class="btn btn-outline-primary me-2" href="#" id="sort_by_created_at">최신순</a>
                <a class="btn btn-outline-primary me-2" href="#" id="sort_by_deadline">마감기한순</a>
                <a class="btn btn-outline-primary me-2" href="#" id="sort_by_after_deadline">마감기한 종료</a>
            <% } %>
        </form>
        <form class="d-flex mb-3">
            <input class="form-control me-2" type="search" name="keyword" id="keyword" placeholder="검색어를 입력해주세요"
                   aria-label="Search" required>
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>
</div>

<div class="d-flex justify-content-center mx-3 mb-3">
    <table class="table table-responsive table-borderless table-hover">
        <thead>
        <tr class="table-primary">
            <th class="text-center" style="width:7%" scope="col">번호</th>
            <th class="text-center" scope="col">제목</th>
            <th class="text-center" style="width:15%" scope="col">작성자</th>
            <th class="text-center" style="width:10%" scope="col">작성일</th>
            <th class="text-center" style="width:7%" scope="col">조회수</th>
            <% if(board.board_type === 'general') { %>
                <th class="text-center" style="width:7%" scope="col">추천수</th>
            <% } else if(board.board_type === 'recruitment') { %>
                <th class="text-center" style="width:17%" scope="col">마감기한</th>
            <% } %>
        </tr>
        </thead>
        <tbody>
        <% for(let post of posts) { %>
            <tr>
                <% if(board.board_type === 'general' && post.is_notice) { %>
                    <th class="text-center text-primary" style="width:7%" scope="row"><span
                                class="notice_prefix">공지</span></th>
                <% } else { %>
                    <th class="text-center" style="width:7%" scope="row"><%= post.id %></th>
                <% } %>
                <td>
                    <div class="title">&nbsp
                        <a class="text-decoration-none text-reset"
                           href="/post/<%= post.id %>?board_id=<%= board.id %>"><%= post.title %></a>
                        <% if(board.board_type === 'general') { %>
                            <% if(post.comment_count > 0) { %>
                                <a class="text-decoration-none text-danger"
                                   href="/post/<%= post.id %>?board_id=<%= board.id %>#commnet_list">
                                    [<%= post.comment_count %>]
                                </a>
                            <% } %>
                        <% } %>
                    </div>
                </td>
                <td style="width:15%">&nbsp<a class="text-decoration-none text-reset"
                                              href="/profile/<%= post.User.nickname %>"><%= post.User.nickname %></a>
                </td>
                <% const date = new Date(post.created_at) %>
                <% const current_date = new Date() %>
                <% const offset = new Date().getTimezoneOffset() * 60000 %>
                <% const date_string = new Date(post.created_at - offset).toISOString() %>
                <% if(date.getFullYear() === current_date.getFullYear() && date.getMonth() === current_date.getMonth() && date.getDate() === current_date.getDate()) { %>
                    <td class="text-center" style="width:10%"><%= date_string.slice(11, 16) %></td>
                <% } else if(date.getFullYear() === current_date.getFullYear() && date.getMonth() === current_date.getMonth()){ %>
                    <td class="text-center" style="width:10%"><%= date_string.slice(5, 10) %></td>
                <% } else { %>
                    <td class="text-center" style="width:10%"><%= date_string.slice(0, 10) %></td>
                <% } %>
                <td class="text-center" style="width:7%"><%= post.view_count %></td>
                <% if(board.board_type === 'general') { %>
                    <td class="text-center" style="width:7%"><%= post.toJSON().like %></td>
                <% } else if(board.board_type === 'recruitment') { %>
                    <% const offset = new Date().getTimezoneOffset() * 60000 %>
                    <% const date_string = new Date(post.deadline - offset).toISOString() %>
                    <td class="text-center" style="width:10%"><%= date_string.slice(0, 16).replace('T', ' ') %></td>
                <% } %>
            </tr>
        <% } %>
        </tbody>
    </table>
</div>
<div class="d-flex justify-content-center mb-3">
    <% let max_page %>
    <% max_page = parseInt(parseInt(post_count / 10) + Math.ceil((post_count % 10) / 10)) %>
    <% const start_page = Math.floor((parseInt(page) - 1) / 10) * 10 + 1 %>
    <% if (start_page !== 1) { %>
        <a class="mx-1 text-decoration-none"
           href="/board/<%= board.id %>?page=<%= start_page - 10 %>&sort=<%= sort %>&keyword=<%= keyword %>"><</a>
    <% } %>
    <% for(let i = start_page; (i < start_page + 10) && i <= max_page; i++) { %>
        <% if(i === parseInt(page)) { %>
            <a class="mx-1 text-decoration-none text-black btn btn-info rounded-circle border border-0"
               href="/board/<%= board.id %>?page=<%= i %>&sort=<%= sort %>&keyword=<%= keyword %>"><%= i %></a>
        <% } else { %>
            <a class="mx-1 text-decoration-none text-black btn btn-outline-info rounded-circle border border-0"
               href="/board/<%= board.id %>?page=<%= i %>&sort=<%= sort %>&keyword=<%= keyword %>"><%= i %></a>
        <% } %>
    <% } %>
    <% if ((start_page + 10) <= max_page) { %>
        <a class="mx-1 text-decoration-none"
           href="/board/<%= board.id %>?page=<%= start_page + 10 %>&sort=<%= sort %>&keyword=<%= keyword %>">></a>
    <% } %>
</div>
<form class="d-flex justify-content-end">
    <a class="btn btn-primary mb-3 mx-3" href="/board/<%= board.id %>/write">글쓰기</a>
</form>
<input type="hidden" id="board_id" name="board_id" value="<%= board.id %>">
<input type="hidden" id="board_type" name="board_type" value="<%= board.board_type %>">
<input type="hidden" id="keyword" name="keyword" value="<%= keyword %>">
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    const board_id = document.querySelector('#board_id').value;
    const board_type = document.querySelector('#board_type').value;
    const keyword = document.querySelector('#keyword').value;
    const sort_by_create_tag = document.querySelector('#sort_by_created_at');
    sort_by_create_tag.addEventListener('click', async function (event) {
        event.preventDefault();
        location.href = `/board/${board_id}/?sort=created_at&keyword=${keyword}`;
    });

    if (board_type === 'general') {
        const sort_by_like_tag = document.querySelector('#sort_by_like');
        sort_by_like_tag.addEventListener('click', async function (event) {
            event.preventDefault();
            location.href = `/board/${board_id}/?sort=like&keyword=${keyword}`;
        });
    } else if (board_type === 'recruitment') {
        const sort_by_deadline_tag = document.querySelector('#sort_by_deadline');
        sort_by_deadline_tag.addEventListener('click', async function (event) {
            event.preventDefault();
            location.href = `/board/${board_id}/?sort=deadline&keyword=${keyword}`;
        });

        const sort_by_after_deadline_tag = document.querySelector('#sort_by_after_deadline');
        sort_by_after_deadline_tag.addEventListener('click', async function (event) {
            event.preventDefault();
            location.href = `/board/${board_id}/?sort=after_deadline&keyword=${keyword}`;
        });
    }

</script>