<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>
        <%= board.name %>
    </title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>번호</th>
        <th>제목</th>
        <th>작성자</th>
        <th>작성일</th>
        <th>조회수</th>
        <th>추천수</th>
    </tr>
    </thead>
    <tbody>
    <% for(let post of posts) { %>
        <tr>
            <td><%= post.id %></td>
            <td>
                <div class="title">
                    <a href="/post/<%= post.id %>"><%= post.title %></a>
                    <% if(post.comment > 0) { %>
                        <a href="/post/<%= post.id %>/#comment_list">[<%= post.comment %>]</a>
                    <% } %>
                </div>
            </td>
            <td><%= post.nickname %></td>
            <% const date = new Date(post.created_at) %>
            <% const current_date = new Date() %>
            <% if(date.getFullYear() === current_date.getFullYear() && date.getMonth() === current_date.getMonth() && date.getDate() === current_date.getDate()) { %>
                <td><%= date.toISOString().slice(11, 16) %></td>
            <% } else { %>
                <td><%= date.toISOString().slice(0, 10) %></td>
            <% } %>
            <td><%= post.view_count %></td>
            <td><%= post.like %></td>
        </tr>
    <% } %>
    </tbody>
</table>
<div>
    <% const start_page = Math.floor((parseInt(page) - 1) / 10) * 10 + 1 %>
    <% if (start_page != 1) { %>
        <a href="/board/<%= board.id %>?page=<%= start_page - 10 %>">이전</a>
    <% } %>
    <% for(let i = start_page; i < post_count / 10 + 1; i++) { %>
        <a href="/board/<%= board.id %>?page=<%= i %>"><%= i %></a>
    <% } %>
    <a href="/board/<%= board.id %>?page=<%= start_page + 10 %>">다음</a>
</div>
<a href="/board/<%= board.id %>/write">글쓰기</a>
</body>
</html>