<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
</head>
<body>
<div id="edit">
    <form id="edit-form" action="/profile/<%= User.nickname %>/edit" method="post">
        <div>
            <label for="sns_id">sns_id</label>
            <input id="sns_id" name="sns_id" type="text" maxlength="30" required value=<%=User.sns_id%>>
        </div>
        <div>
            <label for="nickname">닉네임</label>
            <input id="nickname" name="nickname" type="text" maxlength="15" required value=<%=User.nickname%>>
        </div>
        <div>
            <label for="name">이름</label>
            <input id="name" name="name" type="text" max="15" required value=<%=User.name%>>
        </div>
        <div>
            <label for="birth_date">생년월일</label>
            <input id="birth_date" name="birth_date" type="date" required value=<%=birth%>>
        </div>
        <div>
            <label for="gender">성별</label>
            <% if(User.gender){ %>
                <input id="gender" type="radio" name="gender" value="true" checked = "checked"/>남성
                <input type="radio" name="gender" value='false' />여성
            <% }else{ %>
                <input id="gender" type="radio" name="gender" value="true" />남성
                <input type="radio" name="gender" value="false" checked = "checked"/>여성
            <% } %>
        </div>
        <div>
            <label for="introduce">자기소개</label>
            <input id="introduce" name="introduce" type="text" max="200" required value="<%= User.introduce %>">
        </div>
        <div class="img-preview">
            <%if(User.profile_image){%>
                <img id="img-preview" src=<%= User.profile_image %> width="250" alt="미리보기">
            <% }else{ %>
                <img id="img-preview" src="" style="display: none;" width="250" alt="미리보기">
            <% } %>
            <input id="img-url" type="hidden" name="profile_image" value=<%=User.profile_image%>>
        </div>
        <div>
            <label id="img-label" for="img">사진 업로드</label>
            <input id="img" name="img" type="file" accept="image/*">
        </div>
        <button id="edit_button" type="submit">수정</button>
    </form>
</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    if (document.getElementById('img')) {
        document.getElementById('img').addEventListener('change', function (e) {
            const formData = new FormData();
            console.log(this, this.files);
            formData.append('img', this.files[0]);
            axios.post('/profile/<%=User.nickname%>/edit/img', formData)
                .then((res) => {
                    document.getElementById('img-url').value = res.data.url;
                    document.getElementById('img-preview').src = res.data.url;
                    document.getElementById('img-preview').style.display = 'inline';
                })
                .catch((err) => {
                    console.error(err);
                });
        });
    }
</script>
</html>