<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
</head>
<body>

<div class="container">
    <form id="edit-form" action="/profile/<%= User.nickname %>/edit" method="post">
        <div class="row" style="float: none; margin:10% auto;">
            <div class="col">
                <% if(User.profile_image){ %>
                    <img id="img-preview" src="<%= User.profile_image %>" width="250" height="250"
                         alt="미리보기">
                <% }else{ %>
                    <img id="img-preview" src="/public/icon/default-user-profile-image.svg"
                         width="250" height="250" alt="미리보기">
                <% } %>
                <input id="img-url" type="hidden" name="profile_image" value=<%= User.profile_image %>>
                <div class="mb-3">
                    <label id="img-label" for="img" class="form-label">사진 업로드</label>
                    <input id="img" name="img" type="file" accept="image/*" class="form-control">
                </div>

                <% if(User.profile_image){ %>
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" name="default_profile_image"
                               id="default_profile_image" value="true">기본이미지
                        설정</label>
                <% }else{ %>
                    <label class="form-check-label">
                        <input checked class="form-check-input" type="checkbox" name="default_profile_image"
                               id="default_profile_image" value="true">기본이미지 설정</label>
                <% } %>
            </div>
            <div class="col-8">
                <div class="mb-3">
                    <label class="form-check-label">닉네임</label>
                    <input id="nickname" name="nickname" class="form-control" type="text" maxlength="15" required
                           value=<%= User.nickname %>>
                </div>
                <div class="mb-3">
                    <label class="form-check-label">자기소개</label>
                    <input id="introduce" name="introduce" class="form-control" type="text" max="200"
                           value="<%= User.introduce %>">
                </div>
                <div class="mb-3">
                    <label class="form-check-label">이름</label>
                    <input id="name" name="name" class="form-control" type="text" max="15"
                           value=<%= User.name %>>
                </div>
                <div class="mb-3">
                    <div>
                        <label class="form-check-label">성별</label>
                    </div>
                    <% if(User.gender === null){ %>
                        <input id="gender" type="radio" name="gender" value="true"/>남성
                        <input type="radio" name="gender" value="false"/>여성
                    <% }else{ %>
                        <% if(User.gender === true){ %>
                            <input id="gender" type="radio" name="gender" value="true" checked="checked"/>남성
                            <input type="radio" name="gender" value='false'/>여성
                        <% }else{ %>
                            <input id="gender" type="radio" name="gender" value="true"/>남성
                            <input type="radio" name="gender" value="false" checked="checked"/>여성
                        <% } %>
                    <% } %>
                </div>
                <div class="mb-3">
                    <label class="form-check-label">생년월일</label>
                    <input id="birth_date" name="birth_date" type="date" class="form-control" value=<%= birth %>>
                </div>
                <button id="edit_button" type="submit" class="btn btn-primary">수정</button>
            </div>

        </div>
    </form>
</div>

</body>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    if (document.getElementById('img')) {
        document.getElementById('img').addEventListener('change', function (e) {
            const formData = new FormData();
            formData.append('img', this.files[0]);
            axios.post('/profile/<%= User.nickname %>/edit/img', formData)
                .then((res) => {
                    document.getElementById('img-url').value = res.data.url;
                    document.getElementById('img-preview').src = res.data.url;
                    document.getElementById('img-preview').style.display = 'inline';
                })
                .catch((err) => {
                    console.error(err);
                });
        });
    }
    if (document.getElementById('default_profile_image')) {
        document.getElementById('default_profile_image').addEventListener('change', function (e) {
            if (e.currentTarget.checked) {
                document.getElementById('img-preview').src = "/public/icon/default-user-profile-image.svg";
                document.getElementById('img-preview').style.display = 'inline';
            }
        });
    }
</script>
</html>