<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
</head>
<body>
<div id="edit">
    <form id="edit-form" action="/profile/edit" method="post">
        <div>
            <label for="sns_id">sns_id</label>
            <input id="sns_id" name="sns_id" type="text" maxlength="30" required value=<%=User.sns_id%>>
        </div>
        <div>
            <label for="nickname">닉네임</label>
            <input id="nickname" name="nickname" type="text" maxlength="15" required value=<%=User.nickname%>>
        </div>
        <div>
            <label for="name">이름</label>
            <input id="name" name="name" type="text" max="15" required value=<%=User.name%>>
        </div>
        <div>
            <label for="birth_date">생년월일</label>
            <input id="birth_date" name="birth_date" type="date" required value=<%=birth%>>
        </div>
        <div>
            <label for="gender">성별</label>
            <% if(User.gender){ %>
                <input id="gender" type="radio" name="gender" value="true" checked = "checked"/>남성
                <input type="radio" name="gender" value='false' />여성
            <% }else{ %>
                <input id="gender" type="radio" name="gender" value="true" />남성
                <input type="radio" name="gender" value="false" checked = "checked"/>여성
            <% } %>
        </div>
        <div>
            <label for="introduce">자기소개</label>
            <input id="introduce" name="introduce" type="text" max="200" required value="<%= User.introduce %>">
        </div>
        <!--
        <div>
            <label for="profile_image">profile_image</label>
            <input id="profile_image" name="profile_image" type="text" maxlength="15" required >
        </div>
        -->
        <button id="edit_button" type="submit">수정</button>
    </form>
</div>
</body>
</html>