<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="d-flex my-2 mx-2">
    <% if(type === "receive") { %>
        <a href="/message/receive" class="btn btn-outline-primary btn-sm me-2">목록</a>
    <% } else { %>
            <a href="/message/send" class="btn btn-outline-primary btn-sm me-2">목록</a>
    <% } %>
</div>
<div class="d-flex flex-column mx-3">
    <input type="hidden" id="message_id" name="message_id" value="<%= message.id %>">
    <p class="h3 my-1"><%= message.title %></p>
    <div class="d-flex my-2">
        <div>
            <% if(sender_nickname.profile_image != null) { %>
                <img class="me-2" src="<%= sender_nickname.profile_image %>" alt="" width="64" height="64">
            <% } else { %>
                <img class="me-2" src="/public/icon/default-user-profile-image.svg" alt="" width="64" height="64">
            <% } %>
        </div>
        <div class="d-flex flex-column">
            <div class="my-1">
                <a class="text-decoration-none text-reset fw-bold"
                   href='#'
                   onclick="window.open('/message/profile/<%= sender_nickname.nickname %>', '<%= sender_nickname.nickname %>', 'status=no, toolbar=no, menubar=no, width=500, height=700');return false"><%= sender_nickname.nickname %></a>
                <span><%= sender_nickname.toJSON().grade %></span>
            </div>
            <div class="my-1">
                <% const offset = new Date().getTimezoneOffset() * 60000 %>
                <% const date = new Date(message.created_at - offset) %>
                <span class="text-secondary"><%= date.toISOString().slice(0, 16).replace('T', ' ') %></span>
            </div>
        </div>
    </div>
    <div class="d-flex flex-column">
        <div class="content my-1">
            <pre><%- message.message %></pre>
        </div>
    </div>
</div>
<div class="d-flex my-2 mx-2">
    <% if(type === "receive") { %>
        <a href='#'
           onclick="window.open('/message/write?target_nickname=<%= sender_nickname.nickname %>','<%= sender_nickname.nickname %>>', 'status=no, toolbar=no, menubar=no, width=600, height=600');return false"
           class="btn btn-outline-success btn-sm me-2">답장</a>
    <% } %>
    <a href="#" id="delete" class="btn btn-outline-danger btn-sm">삭제</a>
</div>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    delete_tag = document.querySelector("#delete");
    delete_tag.addEventListener('click', function () {
        const message_ids = [];
        message_ids.push(document.querySelector("#message_id").getAttribute("value"));
        axios.post('/message/delete', {
            message_ids: message_ids
        });
    });
</script>
</body>
</html>