<style>
    .btn-info, .btn-info:hover, .btn-info:active, .btn-info:visited {
        background-color: rgba(207, 226, 255, 1.0);
    }

    .btn-outline-info:hover {
        background-color: rgba(207, 226, 255, 1.0);
    }
</style>
<div class="d-flex justify-content-center mx-2">
    <table class="table table-responsive table-borderless table-hover">
        <thead>
        <tr class="table-primary">
            <th class="text-center" style="width:7%" scope="col">
                <input type="checkbox" id="select_all" name="select_all" value="select_all" onclick="selectAll(this)">
            </th>
            <th class="text-center" scope="col">제목</th>
            <th class="text-center" style="width:20%" scope="col">받는 사람</th>
            <th class="text-center" style="width:20%" scope="col">수신확인</th>
            <th class="text-center" style="width:20%" scope="col">날짜</th>
        </tr>
        </thead>
        <tbody>
        <% for(var message of messages) { %>
            <tr>
                <th class="text-center" style="width:7%" scope="row">
                    <input type="checkbox" id="check" name="check" value="<%= message.id %>" onclick="checkSelectAll()">
                </th>
                <td>
                    <div class="title">&nbsp
                        <a class="text-decoration-none text-reset"
                           href="/message/<%= message.id %>?type=send"><%= message.title %></a>
                    </div>
                </td>
                <td style="width:15%">&nbsp<a class="text-decoration-none text-reset"
                                              href='#' onclick="window.open('/message/profile/<%= message.User.nickname %>', '<%= message.User.nickname%>', 'status=no, toolbar=no, menubar=no, width=500, height=700');return false"> <%= message.User.nickname %></a>
                </td>
                <% if(message.is_read == false) { %>
                    <td class="text-center" style="width:7%">읽지않음</td>
                <% } else { %>
                    <td class="text-center" style="width:7%">읽음</td>
                <% } %>

                <% const date = new Date(message.created_at) %>
                <% const current_date = new Date() %>
                <% const offset = new Date().getTimezoneOffset() * 60000 %>
                <% const date_string = new Date(message.created_at - offset).toISOString() %>
                <% if(date.getFullYear() === current_date.getFullYear() && date.getMonth() === current_date.getMonth() && date.getDate() === current_date.getDate()) { %>
                    <td class="text-center" style="width:10%"><%= date_string.slice(11, 16) %></td>
                <% } else if(date.getFullYear() === current_date.getFullYear() && date.getMonth() === current_date.getMonth()){ %>
                    <td class="text-center" style="width:10%"><%= date_string.slice(5, 10) %></td>
                <% } else { %>
                    <td class="text-center" style="width:10%"><%= date_string.slice(0, 10) %></td>
                <% } %>
            </tr>
        <% } %>
        </tbody>
    </table>
</div>

<div class="d-flex justify-content-center mb-3">
    <% const max_page = parseInt(parseInt(message_count / 10) + Math.ceil((message_count % 10) / 10)) %>
    <% const start_page = Math.floor((parseInt(page) - 1) / 10) * 10 + 1 %>
    <% if (start_page != 1) { %>
        <a class="mx-1 text-decoration-none"
           href="/message/send?page=<%= start_page - 10 %>"><</a>
    <% } %>
    <% for(let i = start_page; (i < start_page + 10) && i <= max_page; i++) { %>
        <% if(i === parseInt(page)) { %>
            <a class="mx-1 text-decoration-none text-black btn btn-info rounded-circle border border-0"
               href="/message/send?page=<%= i %>"><%= i %></a>
        <% } else { %>
            <a class="mx-1 text-decoration-none text-black btn btn-outline-info rounded-circle border border-0"
               href="/message/send?page=<%= i %>"><%= i %></a>
        <% } %>
    <% } %>
    <% if ((start_page + 10) <= max_page) { %>
        <a class="mx-1 text-decoration-none"
           href="/message/send?page=<%= start_page + 10 %>">></a>
    <% } %>
</div>
<div>
    <a href='#'
       onclick="window.open('/message/write','message','status=no, toolbar=no, menubar=no, width=400, height=300');return false" class="btn btn-outline-primary btn-sm">쪽지
        보내기</a>
    <a href="#" id="delete" class="btn btn-outline-primary btn-sm">삭제</a>
</div>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    function checkSelectAll() {
        const checkboxes = document.querySelectorAll('input[name="check"]');
        const checked = document.querySelectorAll('input[name="check"]:checked');
        const selectAll = document.querySelector('input[name="select_all"]');

        if(checkboxes.length === checked.length){
            selectAll.checked = true;
        } else{
            selectAll.checked = false;
        }
    }

    function selectAll(selectAll){
        const checkboxes = document.getElementsByName('check');

        checkboxes.forEach((checkbox) => {
            checkbox.checked = selectAll.checked
        })
    }

    delete_tag = document.querySelector("#delete")
    delete_tag.addEventListener('click', async function (event) {
        event.preventDefault();
        const checked = document.querySelectorAll("input#check:checked");
        const message_ids = [];
        for (let i of checked) {
            message_ids.push(i.getAttribute("value"))
        }
        await axios.post('/message/delete', {
            message_ids: message_ids
        }).then((response) => {
            if (response.data === 'success') {
                location.href = '/message/send/?page=<%= page %>';
            } else if (response.data === 'not creator') {
                alert("자신의 쪽지만 삭제하실 수 있습니다.");
            }
        })
            .catch((err) => {
                console.error(err);
            });
    });
</script>