<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title><%= title %>의 발신함</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>제목</th>
        <th>날짜</th>
        <th>읽음</th>
        <th>받는 사람</th>
    </tr>
    </thead>
    <tbody>
    <% for(var message of messages) { %>
        <tr>
            <td>
                <a href="/message/<%=message.id%>?type=send"><%=message.title%></a>
            </td>
            <% const date = new Date(message.created_at) %>
            <% const new_date = new Date() %>
            <% if(new_date.getFullYear() !== date.getFullYear()) { %>
                <td><%= date.toISOString().slice(0, 10) + " " + date.toISOString().slice(11, 16) %></td>
            <% } else if(new_date.getDate() === date.getDate()){ %>
                <td><%= date.toISOString().slice(11, 16) %></td>
            <% } else { %>
                <td><%= date.toISOString().slice(5, 10) + " " + date.toISOString().slice(11, 16) %></td>
            <% } %>
            <% if(message.is_read == false) { %>
                <td>읽지 않음</td>
            <% } else { %>
                <td>읽음</td>
            <% } %>
            <td><%= message.nickname %></td>

        </tr>
    <% } %>
    </tbody>
</table>
<div>
    <a href='#'
       onclick="window.open('/message/write','message','status=no, toolbar=no, menubar=no, width=400, height=300');return false">쪽지 보내기</a>
</div>
</body>
</html>