<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title><%= title %>의 수신함</title>
</head>
<body>
<a href="/message/send">보낸 쪽지함</a>
<% if(filter === "is_not_read") { %>
    <a href="/message/receive">수신함 목록</a>
<% } else { %>
    <a href="/message/receive?filter=is_not_read">안읽은 쪽지</a>
<% } %>
<div>
    <ul>
        <li>
            <span>체크</span>
            <span>날짜</span>
            <span>읽음</span>
            <span>보낸 사람</span>
            <span>제목</span>
        </li>
    </ul>
</div>

<div>
    <ol>
        <% for(var message of messages) { %>
            <% if (filter === "is_not_read" && message.is_read == true) {
                continue
            } %>
            <% const date = new Date(message.created_at) %>
            <% const new_date = new Date() %>
            <li>
            <span>
                <input type="checkbox" id="check" name="check" value="<%= message.id %>">
            </span>
                <span>
                    <% if(new_date.getFullYear() !== date.getFullYear()) { %>
                        <%= date.toISOString().slice(0, 10) + " " + date.toISOString().slice(11, 16) %>
                    <% } else if(new_date.getDate() === date.getDate()){ %>
                        <%= date.toISOString().slice(11, 16) %>
                    <% } else { %>
                        <%= date.toISOString().slice(5, 10) + " " + date.toISOString().slice(11, 16) %>
                    <% } %>
                </span>
                <span>
                    <% if(message.is_read == false) { %>
                        읽지 않음
                    <% } else { %>
                        읽음
                    <% } %>
                </span>
                <span>
                    <%= message.nickname %>
                </span>
                <span>
                    <a href="/message/<%= message.id %>?type=receive"><%= message.title %></a>
                </span>
            </li>
        <% } %>
    </ol>

</div>
<div>
    <% const max_page = parseInt(parseInt(message_count / 10) + Math.ceil((message_count % 10)/10))%>
    <% const start_page = Math.floor((parseInt(page) - 1) / 10) * 10 + 1 %>
    <% if (start_page != 1) { %>
        <a href="/message/receive?page=<%= start_page - 10 %>">이전</a>
    <% } %>
    <% for(let i = start_page; (i < start_page + 10) && i <= max_page; i++) { %>
        <a href="/message/receive?page=<%= i %>"><%= i %></a>
    <% } %>
    <% if ((start_page + 10) <= max_page) { %>
    <a href="/message/receive?page=<%= start_page + 10 %>">다음</a>
    <% } %>
</div>
<div>
    <a href='#'
       onclick="window.open('/message/write','message','status=no, toolbar=no, menubar=no, width=400, height=300');return false">쪽지
        보내기</a>
    <a href="#" id="delete">삭제</a>
</div>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    const delete_tag = document.querySelector("#delete")
    delete_tag.addEventListener('click', async function () {
        const checked = document.querySelectorAll("input#check:checked");
        const message_ids = [];
        for(let i of checked)
        {
            message_ids.push(i.getAttribute("value"))
        }
        await axios.post('/message/delete', {
            message_ids: message_ids
        }).then((response) => {
            if(response.data === 'success'){
                location.href = '/message/receive/?page=<%=page%>';
            } else if(response.data === 'not creator'){
                alert("자신의 쪽지만 삭제하실 수 있습니다.");
            }
        })
        .catch((err) =>{
            console.error(err);
        });
    });
</script>
</body>
</html>