<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>게시글 수정</title>
</head>
<body>
    <form action="/post/<%= post.id %>/modify" method="post">
        <input type="hidden" name="board_id" id="board_id" value="<%= board.id %>">
        <div>
            <label for="title"></label>
            <input type="text" name="title" id="title" placeholder="제목을 입력해 주세요." maxlength="100"
                   value="<%= post.title %>" required>
        </div>
        <div>
            <label for="content"></label>
            <textarea rows="10" cols="50" style="resize: none" name="content" id="content" placeholder="내용을 입력하세요." maxlength="1000"
                      required><%= post.content %></textarea>
        </div>
        <% if(board.board_type === 'recruitment') { %>
            <div>
                <label for="deadline"></label>
                <% console.log(123) %>
                <input type="date" name="deadline" id="deadline" value="<%= post.deadline%> required">
            </div>
        <% } %>
        <div>
            <input type="submit" value="등록">
        </div>
    </form>
</body>
</html>