<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title><%= post.title %></title>
</head>
<body>
<a href="/board/<%= board.id %>"><%= board.name %></a>

<div>
    <% if(post.User.profile_image != null) { %>
        <img src="<%= post.User.profile_image %>" alt="" width="32" height="32">
    <% } else { %>
        <img src="/public/icon/default-user-profile-image.svg" alt="" width="32" height="32">
    <% } %>
    <a href="/profile/<%= post.User.nickname %>"><%= post.User.nickname %></a>
    <span><%= post.toJSON().grade %></span>
    <% if(post.creator_id !== user.id) { %>
        <a href='#'
           onclick="window.open('/message/write?target_nickname=<%= post.User.nickname %>','<%= post.User.nickname %>', 'status=no, toolbar=no, menubar=no, width=400, height=300');return false">쪽지</a>
    <% } %>
</div>
<div>
    <div>
        <h3><%= post.title %></h3>
        <div>
            <% if(files.length > 0) {%>
                <p>첨부파일</p>
            <%}%>
            <ul>
                <% for(file of files) { %>
                    <li><a href="<%= file.file_path %>" download="<%= file.file_name %>"><%= file.file_name %></a></li>
                <% } %>
            </ul>
        </div>
        <span>마감기한</span>
        <% const offset = new Date().getTimezoneOffset() * 60000 %>
        <% const date_string = new Date(post.deadline - offset).toISOString() %>
        <span><%= date_string.slice(0, 16).replace('T', ' ') %></span>
        <div class="content">
            <%- post.content %>
        </div>
    </div>
</div>
<% if(post.creator_id !== user.id && post.deadline.getTime() > new Date().getTime() ) { %>
    <div class="apply">
        <% if(already === null) { %>
            <a href='#'
               onclick="window.open('/post/<%= post.id %>/apply', 'apply', 'status=no, toolbar=no, menubar=no, width=400, height=400'); return false">신청</a>
        <% } else { %>
            <a href="#" id="cancel">취소</a>
        <% } %>
    </div>
<% } %>

<div>
    <% if(post.creator_id === user.id && post.is_complete === false) { %>
        <% if(post.deadline.getTime() > new Date().getTime()) { %>
            <a href="/post/<%= post.id %>/modify?board_id=<%= board.id %>" id="modify">수정</a>
            <% if(applicant_count == 0) { %>
                <a href="#" id="delete">삭제</a>
            <% } %>
        <% } else if(post.deadline.getTime() < new Date().getTime()) { %>
            <div>
                <ul>
                    <li>
                        <span>체크</span>
                        <span>닉네임</span>
                    </li>
                </ul>
            </div>
            <div>
                <ol>
                    <% for(var applicant of applicants) { %>
                        <li>
                <span>
                    <input type="checkbox" id="check" name="check" value="<%= applicant.id %>"
                    <% if(applicant.is_accepted === true) { %> checked
                            <% } %>
                    >
                </span>
                            <span><a href="/profile/<%= applicant.User.nickname %>"><%= applicant.User.nickname %></a></span>
                            <details>
                                <summary>지원 내용</summary>
                                <span><%= applicant.message %></span>
                            </details>
                        </li>
                    <% } %>
                </ol>
            </div>
            <a href="#" id="complete">선발</a>
        <% } %>
    <% } else if(post.is_complete === true) { %>
        <div>
            <span>선발 인원</span>
            <ol>
                <% for(var applicant of applicants) { %>
                    <% if(applicant.is_accepted === true) { %>
                    <li><%= applicant.User.nickname%></li>
                    <% } %>
                <% } %>
            </ol>
        </div>
    <% } %>
</div>
</body>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    <% if(post.creator_id === user.id) { %>
    <% if(post.deadline.getTime() < new Date().getTime() ) { %>
    const complete_tag = document.querySelector('#complete');
    complete_tag.addEventListener('click', async function (event) {
        event.preventDefault();
        const checked = document.querySelectorAll("input#check:checked");
        const applicant_ids = [];
        for (let i of checked) {
            applicant_ids.push(i.getAttribute("value"))
        }
        window.open(`/post/<%= post.id %>/apply/complete?applicant_id=` + applicant_ids, '<%= post.id %>', 'status=no, toolbar=no, menubar=no, width=600, height=500');

    });

    <% } else if(applicant_count === 0) { %>
    const delete_tag = document.querySelector('#delete');
    delete_tag.addEventListener('click', async function (event) {
        event.preventDefault();
        await axios.post(`/post/<%= post.id %>/delete`, {
            board_id: <%= board.id %>
        })
            .then((response) => {
                if (response.data === 'success') {
                    location.href = `/board/<%= board.id %>`;
                } else if (response.data === 'not creator') {
                    alert("자신의 게시글만 삭제하실 수 있습니다.");
                    history.back();
                }
            })
            .catch((err) => {
                console.error(err);
            });
    });
    <% } %>
    <% } else { %>
    const cancel_tag = document.querySelector('#cancel');
    cancel_tag.addEventListener('click', async function (event) {
        event.preventDefault();
        await axios.post(`/post/<%= post.id %>/apply_cancel`, {
            board_id: <%= board.id %>
        })
            .then((response) => {
                if (response.data === 'success') {
                    alert("취소되었습니다.");
                    location.replace(`/post/<%= post.id %>?board_id=<%= board.id %>`);
                } else if (response.data === 'no apply') {
                    alert("신청 기록이 없습니다.");
                    location.replace(`/post/<%= post.id %>?board_id=<%= board.id %>`);
                }
            })
            .catch((err) => {
                console.error(err);
            });
    });
    <% } %>
</script>
</html>