<style>
    p {
        word-break: break-all
    }

    pre {
        white-space: pre-wrap;
        word-break: break-all;
        overflow: auto;
    }

    a {
        word-break: keep-all;
    }
</style>
<div class="d-flex">
    <div class="d-flex flex-column ms-3 me-5 d-none d-md-block">
        <div class="py-1 my-3 bg-primary bg-opacity-10 rounded-3">
            <% for(let board of boards) { %>
                <div class="mx-5 my-2">
                    <a class="text-decoration-none text-reset fw-bold "
                       href="/board/<%= board.id %>"><%= board.name %></a>
                </div>
            <% } %>
        </div>
        <div>
        </div>
    </div>
    <div class="d-flex flex-column flex-fill mx-3">
        <div>
            <div class="d-flex my-3">
                <a class="text-decoration-none text-primary" href="/board/<%= board.id %>"><%= board.name %></a>
            </div>
            <p class="h3 mb-3"><%= post.title %></p>
            <div class="d-flex mb-3">
                <div>
                    <% if(post.User.profile_image != null) { %>
                        <img class="me-2" src="<%= post.User.profile_image %>" alt="" width="32" height="32">
                    <% } else { %>
                        <img class="me-2" src="/public/icon/default-user-profile-image.svg" alt="" width="32"
                             height="32">
                    <% } %>
                </div>
                <div class="d-flex flex-column">
                    <div class="my-1">
                        <a class="text-decoration-none text-reset fw-bold"
                           href="/profile/<%= post.User.nickname %>"><%= post.User.nickname %></a>
                        <span><%= post.toJSON().grade %></span>
                        <% if(post.creator_id !== user.id) { %>
                            <a href='#' class="text-decoration-none badge bg-light text-dark"
                               onclick="window.open('/message/write?target_nickname=<%= post.User.nickname %>','<%= post.User.nickname %>', 'status=no, toolbar=no, menubar=no, width=400, height=300');return false">쪽지</a>
                        <% } %>
                    </div>
                    <div class="my-1">
                        <% const offset = new Date().getTimezoneOffset() * 60000 %>
                        <% const date = new Date(post.created_at - offset) %>
                        <span class="text-secondary"><%= date.toISOString().slice(0, 16).replace('T', ' ') %></span>
                        <span class="text-secondary">조회&nbsp<%= post.view_count %></span>
                    </div>
                </div>
            </div>
            <div class="d-flex flex-column">
                <div class="mb-3">
                    <p class="h5">마감기한</p>
                    <% const offset1 = new Date().getTimezoneOffset() * 60000 %>
                    <% const date_string = new Date(post.deadline - offset1).toISOString() %>
                    <span><%= date_string.slice(0, 16).replace('T', ' ') %></span>
                </div>
                <div class="mb-3">
                    <% if(files.length > 0) { %>
                        <p class="h5">첨부파일</p>
                    <% } %>
                    <% for(file of files) { %>
                        <p>
                            <a class="btn btn-primary" href="<%= file.file_path %>"
                               download="<%= file.file_name %>">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                     class="bi bi-download" viewBox="0 0 16 16">
                                    <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
                                    <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
                                </svg>
                                &nbsp<%= file.file_name %>
                            </a>
                        </p>
                    <% } %>
                </div>
                <div class="content mb-3">
                    <%- post.content %>
                </div>
            </div>
            <div class="d-flex justify-content-start mb-3">
                <% if (!post.is_complete && post.deadline.getTime() > new Date().getTime() || user.grade === 5) { %>
                    <% if(post.creator_id === user.id) { %>
                        <a class="btn btn-outline-primary me-2"
                           href="/post/<%= post.id %>/modify?board_id=<%= board.id %>"
                           id="modify">수정</a>
                    <% } %>
                    <% if(post.creator_id === user.id && applicant_count === 0 || user.grade === 5) { %>
                        <a class="btn btn-outline-danger me-2" href="#" id="delete">삭제</a>
                    <% } %>
                <% } %>
            </div>
            <div class="d-flex mb-3">
                <% if(post.creator_id === user.id && post.is_complete === false) { %>
                    <% if(post.deadline.getTime() < new Date().getTime()) { %>
                        <div class="d-flex d-md-block d-none flex-fill">
                            <table class="table table-striped table-bordered table-responsive"
                                   style="table-layout: fixed">
                                <thead>
                                <tr>
                                    <th scope="col" class="text-center" style="width: 7%">체크</th>
                                    <th scope="col" class="text-center" style="width: 17%">닉네임</th>
                                    <th scope="col" class="text-center">지원 내용</th>
                                </tr>
                                </thead>
                                <tbody>
                                <% for(var applicant of applicants) { %>
                                    <tr>
                                        <th scope="row" class="align-middle text-center">
                                            <label
                                                    for="check"></label>
                                            <input type="checkbox" id="check" name="check"
                                                   value="<%= applicant.id %>"
                                            <% if(applicant.is_accepted === true) { %> checked
                                                    <% } %>
                                            >
                                        </th>
                                        <td class="align-middle"
                                            style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden">
                                            <a class="text-decoration-none text-reset fw-bold"
                                               href="/profile/<%= applicant.User.nickname %>">&nbsp<%= applicant.User.nickname %></a>
                                        </td>
                                        <td class="align-middle">
                                            <pre><%= applicant.message %></pre>
                                        </td>
                                    </tr>
                                <% } %>
                                </tbody>
                            </table>
                        </div>
                        <div class="d-flex d-md-none flex-fill">
                            <table class="table table-striped table-bordered table-responsive"
                                   style="table-layout: fixed">
                                <thead>
                                <tr>
                                    <th scope="col" class="text-center" style="width: 15%">체크</th>
                                    <th scope="col" class="text-center">닉네임</th>
                                    <th scope="col" class="text-center" style="width: 25%">지원 내용</th>
                                </tr>
                                </thead>
                                <tbody>
                                <% for(var applicant of applicants) { %>
                                    <tr>
                                        <th scope="row" class="align-middle text-center">
                                            <label
                                                    for="check"></label>
                                            <input type="checkbox" id="mobile_check" name="mobile_check"
                                                   value="<%= applicant.id %>"
                                            <% if(applicant.is_accepted === true) { %> checked
                                                    <% } %>
                                            >
                                        </th>
                                        <td class="align-middle"
                                            style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden">
                                            <a class="text-decoration-none text-reset fw-bold"
                                               href="/profile/<%= applicant.User.nickname %>">&nbsp<%= applicant.User.nickname %></a>
                                        </td>
                                        <td class="align-middle text-center">
                                            <button class="btn btn-outline-primary" type="button" id="liveToastBtn">보기</button>
                                            <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
                                                <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                                                    <div class="toast-header">
                                                        <img src="" class="rounded me-2" alt="">
                                                        <strong class="me-auto"><%= applicant.User.nickname%></strong>
                                                        <small></small>
                                                        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                                                    </div>
                                                    <div class="toast-body">
                                                        <%= applicant.message %>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                <% } %>
                                </tbody>
                            </table>
                        </div>
                    <% } %>
                <% } %>
            </div>
            <div class="d-flex mb-3">
                <% if(post.creator_id === user.id && post.is_complete === false) { %>
                    <% if(post.deadline.getTime() < new Date().getTime()) { %>
                        <div class="d-md-block d-none">
                            <a class="btn btn-outline-primary me-2"
                               href='#' id="complete">선발</a>
                        </div>
                        <div class="d-md-none">
                            <a class="btn btn-outline-primary me-2"
                               href='#' id="mobile_complete">선발</a>
                        </div>
                    <% } %>
                <% } %>
            </div>
            <div class="d-flex mb-3">
                <% if(post.creator_id !== user.id && post.deadline.getTime() > new Date().getTime()) { %>
                    <% if(already === null) { %>
                        <a class="btn btn-outline-primary me-2" href='#'
                           onclick="window.open('/post/<%= post.id %>/apply', 'apply', 'status=no, toolbar=no, menubar=no, width=400, height=400'); return false">신청</a>
                    <% } else { %>
                        <a class="btn btn-outline-danger me-2" href="#" id="cancel">취소</a>
                    <% } %>
                <% } %>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="board_id" name="board_id" value="<%= board.id %>">
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    const board_id = document.querySelector('#board_id').value;
    <% if(post.creator_id === user.id && post.deadline.getTime() < new Date().getTime() ) { %>
    const complete_tag = document.querySelector('#complete');
    complete_tag.addEventListener('click', async function (event) {
        event.preventDefault();
        const checked = document.querySelectorAll("input#check:checked");
        const applicant_ids = [];
        for (let i of checked) {
            applicant_ids.push(i.getAttribute("value"))
        }
        window.open(`/post/<%= post.id %>/apply/complete?applicant_id=` + applicant_ids, '<%= post.id %>', 'status=no, toolbar=no, menubar=no, width=600, height=500');

    });
    const mobile_complete_tag = document.querySelector('#mobile_complete');
    mobile_complete_tag.addEventListener('click', async function (event) {
        event.preventDefault();
        const checked = document.querySelectorAll("input#mobile_check:checked");
        const applicant_ids = [];
        for (let i of checked) {
            applicant_ids.push(i.getAttribute("value"))
        }
        window.open(`/post/<%= post.id %>/apply/complete?applicant_id=` + applicant_ids, '<%= post.id %>', 'status=no, toolbar=no, menubar=no, width=600, height=500');

    });
    <% } %>
    <% if(post.creator_id === user.id && applicant_count === 0 || user.grade === 5) { %>
    const delete_tag = document.querySelector('#delete');
    delete_tag.addEventListener('click', async function (event) {
        event.preventDefault();
        await axios.post(`/post/<%= post.id %>/delete`, {
            board_id: board_id
        })
            .then((response) => {
                if (response.data === 'success') {
                    location.href = `/board/<%= board.id %>`;
                } else if (response.data === 'not creator') {
                    alert("자신의 게시글만 삭제하실 수 있습니다.");
                    history.back();
                }
            })
            .catch((err) => {
                console.error(err);
            });
    });
    <% } %>
    <% if(post.creator_id !== user.id) { %>
    const cancel_tag = document.querySelector('#cancel');
    cancel_tag.addEventListener('click', async function (event) {
        event.preventDefault();
        await axios.post(`/post/<%= post.id %>/apply_cancel`, {
            board_id: board_id
        })
            .then((response) => {
                if (response.data === 'success') {
                    alert("취소되었습니다.");
                    location.replace(`/post/<%= post.id %>?board_id=<%= board.id %>`);
                } else if (response.data === 'no apply') {
                    alert("신청 기록이 없습니다.");
                    location.replace(`/post/<%= post.id %>?board_id=<%= board.id %>`);
                }
            })
            .catch((err) => {
                console.error(err);
            });
    });
    <% } %>
    const toastTriggers = document.querySelectorAll('#liveToastBtn');
    const toastLives = document.querySelectorAll('#liveToast');
    for(let [index, toastTrigger] of toastTriggers.entries())
    {
        toastTrigger.addEventListener('click', function () {
            const toast = new bootstrap.Toast(toastLives[index])
            toast.show()
        });
    }
</script>