<form id="post_modify" action="/post/<%= post.id %>/modify?_csrf=<%= csrfToken%>" enctype="multipart/form-data" method="post">
    <input type="hidden" name="board_id" id="board_id" value="<%= board.id %>">
    <div class="my-3 mx-3">
        <label for="title" class="form-label">제목</label>
        <input type="text" class="form-control" name="title" id="title" placeholder="제목을 입력해 주세요." maxlength="100"
               value="<%= post.title %>" required pattern=".*\S+.*">
    </div>
    <div class="mb-3 mx-3">
        <label class="mb-2 form-label" for="ir1">내용</label>
        <textarea class="form-control" name="ir1" id="ir1" rows="10" cols="100" placeholder="내용을 입력해 주세요." style="min-width:260px;"><%= post.content %></textarea>
    </div>
    <% if(board.board_type === 'recruitment') { %>
        <div class="mb-3 mx-3">
            <label class="form-label" for="deadline">마감기한</label>
            <% const offset = new Date().getTimezoneOffset() * 60000 %>
            <% const date = new Date(Date.now() - offset) %>
            <% const max_date = new Date(post.created_at - offset) %>
            <% max_date.setFullYear(max_date.getFullYear() + 1) %>
            <input class="form-control" type="datetime-local" name="deadline" id="deadline" min="<%= date.toISOString().slice(0, 16) %>"
                   max="<%= max_date.toISOString().slice(0, 16) %>" value="<%= date.toISOString().slice(0, 16) %>"
                   required>
        </div>
    <% } %>
    <div class="mb-2 mx-3">
        <label for="files" class="form-label">첨부파일</label>
        <input type="file" class="form-control" id="files" name="files" multiple>
    </div>
    <p class="mx-3 mb-3 text-secondary">파일당 50MB까지 첨부 가능합니다.</p>
    <div class="mb-3 mx-3">
        <a class="btn btn-primary" href="#" onclick="submitContents()">등록</a>
    </div>
</form>
<script type="text/javascript" src="/public/se2/js/service/HuskyEZCreator.js" charset="utf-8"></script>
<script type="text/javascript">
    var oEditors = [];
    nhn.husky.EZCreator.createInIFrame({
        oAppRef: oEditors,
        elPlaceHolder: "ir1",
        sSkinURI: "/public/se2/SmartEditor2Skin.html",
        fCreator: "createSEditor2",
        htParams : {
            bUseToolbar : true,
            bUseVerticalResizer : true,
            bUseModeChanger : false,
        }
    });

    function submitContents() {
        if(!document.getElementById('title').validity.valid)
            return;
        oEditors.getById["ir1"].exec("UPDATE_CONTENTS_FIELD", []);
        try {
            document.querySelector('#post_modify').submit();
        } catch (e) {

        }
    }
</script>